body {
  background-image: url(../img/fondo.jpg);
  width: 100%;
  color:black;
}

header {
  margin-top: 20px;
}
img {
  width: 100%;
  margin-bottom: 30px;
}

a {
  text-decoration: underline;
  color: green;
  margin-bottom: 30px;
}

#bannerflog img {
  height: 100px;
}
h1, p{
  color: DeepPink;
}
h1{
  font-size: 50px;
  font-weight: bolder;
}

textarea, input{
  width: 100%;
  border-radius: 0px;
  border: 1px solid DeepPink;
  margin-bottom: 20px;
}

.posteo {
  color: DeepPink;
}
.posteo strong{
  display: block;
}
.posteo hr {
  border: 1px solid DeepPink;
}
/* PARA CORAZON */
.corazon {
  font-size: 40px;
  color: gray;
  text-align: center;
}
.rojo {
  color: red;
}
footer{
  padding: 10px;
}



/* Estilos comentarios */

.botones{
  display: inline-block;
}

.botones input{
  background-color: transparent;
  width: 100px;
  border: 5px solid DeepPink;
  display: inline-block;
  color: white;
}

button{
  background-color: transparent;
  width: 100px;
  height: 41px;
  border-radius: 4px;
  border: 5px solid DeepPink;
  display: inline-block;
  color: white;
}

 #contenedor h4{
  color: black;
  font-weight: bold;
 }

 #contenedor p{
  color: white;
 }

 #contenedor{
  background-color: #DF33B2;
  border-radius: 8px;
  padding: 10px;
  margin-top: 10px;
  border: 4px solid #ABA8AA;
 }

 .linea{
  border: 3px solid black;
  width: 50%;
 }




